 html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    position: relative;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
    z-index: 100;
}
.top-right {
    position: absolute;
    right: 10px;
    top: 328px;
    color: white;
    left: 50%;
    width: 220px;
    z-index: 15;
    transform: translateX(-50%);
}
.full-height .top-right > a{
    color: white;
}

.content {
    text-align: center;
    color: white;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.fondo {
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    z-index: 1;
    height: 650px;
}

.fondo img{
    width: 100%;
    height: auto;
}
.fondo:before {
    top: 0px;
    content: '';
    display: block;
    width: 100%;
    height: 1000px;
    background: #002edce0;
    position: absolute;
    left: 0px;
}
.title.m-b-md img {
    width: 180px;
    position: relative;
    z-index: 10;
    top: -69px;
}
.title.m-b-md{
    
}
.title.m-b-md:before {
    content: '';
    display: block;
    width: 300px;
    height: 432px;
    background: #ffffff5c;
    top: 94px;
    left: 0px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 2%;
    z-index: 8;
}

.full-height .top-right > a:nth-child(1) {
    color: white;
    display: block;
    text-align: center;
    background: #002761;
    padding: 10px;
    margin-bottom: 45px;
    z-index: 20;
    border-radius: 18px;
}
.full-height .top-right > a:nth-child(2) {
    color: white;
    display: block;
    text-align: center;
    background: #002761;
    padding: 10px;
    margin-bottom: 45px;
    z-index: 20;
    border-radius: 18px;
}